@import ../config/spacing
@import ../config/colors
  
.alert 
  text-align: center
  padding: $spacing-3
  margin: $spacing-3
  border-radius: 5px

.alert-dark
  background: linear-gradient(to bottom left, $color-neutral-1, $color-neutral-2)
  color: white

.alert-light
  background: linear-gradient(to bottom left, $color-neutral-5, $color-neutral-6)
  color: $color-neutral-0

.alert-blue
  background: linear-gradient(to bottom left, $color-blue-1, $color-blue-2)
  color: white

.alert-green
  background: linear-gradient(to bottom left, $color-green-1, $color-green-2)
  color: white

.alert-orange
  background: linear-gradient(to bottom left, $color-orange-1, $color-orange-2)
  color: white

.alert-red
  background: linear-gradient(to bottom left, $color-red-1, $color-red-2)
  color: white