@import ../config/colors
@import ../config/spacing

$button-background-color: white
$button-font-color: $color-neutral-0
  
.btn
  background: $button-background-color
  color: $button-font-color
  cursor: pointer
  border: 1px solid $button-font-color
  border-radius: 5px
  font-size: $font-size-2
  padding: $spacing-2 $spacing-5

// Solid Colors

.btn-dark
  background-color: $color-neutral-0
  color: $color-neutral-6
  border: 2px solid $color-neutral-0
  transition: 0.2s background-color, 0.2s color
.btn-dark:hover
  background-color: white
  color: $color-neutral-0

.btn-blue
  background-color: $color-blue-1
  color: $color-neutral-6
  border: 2px solid $color-blue-1
  transition: 0.2s background-color, 0.2s color
.btn-blue:hover
  background-color: white
  color: $color-blue-1

.btn-green
  background-color: $color-green-1 
  color: $color-neutral-6
  border: 2px solid $color-green-1
  transition: 0.2s background-color, 0.2s color
.btn-green:hover
  background-color: white
  color: $color-green-1

.btn-orange
  background-color: $color-orange-1
  color: $color-neutral-6
  border: 2px solid $color-orange-1
  transition: 0.2s background-color, 0.2s color
.btn-orange:hover
  background-color: white
  color: $color-orange-1

.btn-red
  background-color: $color-red-1 
  color: $color-neutral-6
  border: 2px solid $color-red-1
  transition: 0.2s background-color, 0.2s color
.btn-red:hover
  background-color: white
  color: $color-red-1

// Outline Colors

.btn-light-outline
  background-color: white
  border: 2px solid $color-neutral-1
  color: $color-neutral-1
  transition: 0.2s background-color, 0.2s color
.btn-light-outline:hover
  background-color: $color-neutral-1
  color: white

.btn-dark-outline
  color: $color-neutral-0
  border: 2px solid $color-neutral-0
  transition: 0.2s background-color, 0.2s color
.btn-dark-outline:hover
  color: white
  background: $color-neutral-0

.btn-blue-outline
  color: $color-blue-1
  border: 2px solid $color-blue-1
  transition: 0.2s background-color, 0.2s color
.btn-blue-outline:hover
  color: white
  background: $color-blue-1

.btn-green-outline
  color: $color-green-1
  border: 2px solid $color-green-1
  transition: 0.2s background-color, 0.2s color
.btn-green-outline:hover
  color: white
  background: $color-green-1

.btn-orange-outline
  color: $color-orange-1
  border: 2px solid $color-orange-1
  transition: 0.2s background-color, 0.2s color
.btn-orange-outline:hover
  color: white
  background: $color-orange-1

.btn-red-outline
  color: $color-red-1
  border: 2px solid $color-red-1
  transition: 0.2s background-color, 0.2s color
.btn-red-outline:hover
  color: white
  background: $color-red-1

// Size
  
.btn-sm
  font-size: $font-size-1
  padding: $spacing-1 $spacing-4

.btn-md
  font-size: $font-size-2
  padding: $spacing-2 $spacing-5

.btn-lg
  font-size: $font-size-4
  padding: $spacing-3 $spacing-6

.btn-xl
  font-size: $font-size-5
  padding: $spacing-4 $spacing-7

// Border-Radius

.btn-br-1
  border-radius: 2px

.btn-br-2
  border-radius: 5px

.btn-br-3
  border-radius: 10px

.btn-br-4
  border-radius: 25px

.btn-br-5
  border-radius: 50px

// Animations

.btn-ani-raise
  transition: 0.2s transform, 0.2s box-shadow

.btn-ani-raise:hover
  transform: translateY(-2px)
  box-shadow: 0 2px $spacing-0 rgba(0, 0, 0, 0.25)

.btn-ani-raise:active
  transform: translateY(0)
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25)

.btn-ani-switch
  position: relative

.btn-ani-switch:hover
  .btn-ani-switch-visible
    visibility: hidden
    opacity: 0
  .btn-ani-switch-hidden
    visibility: visible
    opacity: 1

.btn-ani-switch-visible
  transition: 0.2s visibility, 0.2s opacity

.btn-ani-switch-hidden
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  backface-visibility: hidden
  visibility: hidden
  opacity: 0
  transition: 0.2s visibility, 0.2s opacity