.btn
  background: inherit
  color: #414141
  cursor: pointer
  border: 1px solid #414141

// Size

.btn-xs
  font-size: 8px
  padding: 4px 16px
  
.btn-sm
  font-size: 12px
  padding: 6px 24px

.btn-md
  font-size: 18px
  padding: 9px 36px

.btn-lg
  font-size: 24px
  padding: 12px 48px

.btn-xl
  font-size: 30px
  padding: 15px 60px

// Border-Radius

.btn-br-1
  border-radius: 2px

.btn-br-2
  border-radius: 5px

.btn-br-3
  border-radius: 10px

.btn-br-4
  border-radius: 25px

.btn-br-5
  border-radius: 50px

// Solid/Outline

.btn-solid
  background-color: #414141
  color: #F5F5F5

.btn-outline
  border: 2px solid #414141

// Animations

.btn-ani-opp
  // Will require color variables

.btn-ani-raise
  transition: 0.2s transform, 0.2s box-shadow

.btn-ani-raise:hover
  transform: translateY(-2px)
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25)

.btn-ani-raise:active
  transform: translateY(0)
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25)

.btn-ani-switch
  position: relative

.btn-ani-switch:hover
  .btn-ani-switch-visible
    visibility: hidden
    opacity: 0
  .btn-ani-switch-hidden
    visibility: visible
    opacity: 1

.btn-ani-switch-visible
  transition: 0.2s visibility, 0.2s opacity

.btn-ani-switch-hidden
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  backface-visibility: hidden
  visibility: hidden
  opacity: 0
  transition: 0.2s visibility, 0.2s opacity