* {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0; }

.btn {
  background: white;
  color: #282828;
  cursor: pointer;
  border: 1px solid #282828; }

.btn-xs {
  font-size: 12px;
  padding: 4px 16px; }

.btn-sm {
  font-size: 14px;
  padding: 8px 24px; }

.btn-md {
  font-size: 16px;
  padding: 12px 32px; }

.btn-lg {
  font-size: 20px;
  padding: 16px 48px; }

.btn-xl {
  font-size: 24px;
  padding: 24px 64px; }

.btn-br-1 {
  border-radius: 2px; }

.btn-br-2 {
  border-radius: 5px; }

.btn-br-3 {
  border-radius: 10px; }

.btn-br-4 {
  border-radius: 25px; }

.btn-br-5 {
  border-radius: 50px; }

.btn-solid {
  background-color: #282828;
  color: #f5f5f5; }

.btn-outline {
  border: 2px solid #282828; }

.btn-ani-opp {
  transition: 0.2s background-color, 0.2s color; }

.btn-ani-opp:hover {
  background-color: #282828;
  color: white; }

.btn-ani-opp:hover.btn-solid {
  background-color: white;
  color: #282828; }

.btn-ani-raise {
  transition: 0.2s transform, 0.2s box-shadow; }

.btn-ani-raise:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); }

.btn-ani-raise:active {
  transform: translateY(0);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25); }

.btn-ani-switch {
  position: relative; }

.btn-ani-switch:hover .btn-ani-switch-visible {
  visibility: hidden;
  opacity: 0; }

.btn-ani-switch:hover .btn-ani-switch-hidden {
  visibility: visible;
  opacity: 1; }

.btn-ani-switch-visible {
  transition: 0.2s visibility, 0.2s opacity; }

.btn-ani-switch-hidden {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s visibility, 0.2s opacity; }

.container {
  padding: 0 32px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.header-light-1,
.header-light-2,
.header-light-3,
.header-light-4,
.header-light-5 {
  font-weight: 400; }

.header-dark-1,
.header-dark-2,
.header-dark-3,
.header-dark-4,
.header-dark-5 {
  font-weight: 700; }

.header-light-1,
.header-dark-1 {
  font-size: 24px; }

.header-light-2,
.header-dark-2 {
  font-size: 30px; }

.header-light-3,
.header-dark-3 {
  font-size: 36px; }

.header-light-4,
.header-dark-4 {
  font-size: 48px; }

.header-light-5,
.header-dark-5 {
  font-size: 60px; }

.placeholder {
  width: 640px;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; }

.ph-line {
  background-color: #f5f5f5;
  height: 16px;
  margin-bottom: 12px; }

.ph-line:nth-of-type(1) {
  width: 98%; }

.ph-line:nth-of-type(2) {
  width: 81%; }

.ph-line:nth-of-type(3) {
  width: 100%; }

.ph-line:nth-of-type(4) {
  width: 84%; }

.ph-line:nth-of-type(5) {
  width: 83%; }

.ph-line:nth-of-type(6) {
  width: 84%; }

.ph-line:nth-of-type(7) {
  width: 96%; }

.ph-line:nth-of-type(8) {
  width: 80%; }

.ph-line:nth-of-type(9) {
  width: 79%; }

.ph-line:nth-of-type(10) {
  width: 89%; }

.ph-header {
  margin-bottom: 8px;
  width: 100%; }
  .ph-header .ph-line {
    height: 24px; }

.ph-paragraph {
  margin-bottom: 4px;
  width: 100%; }
  .ph-paragraph .ph-line {
    height: 16px; }

.ph-image {
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
  max-width: 90vw; }

.ph-image-paragraph {
  margin-bottom: 4px;
  width: 100%;
  position: relative;
  z-index: -1;
  height: 140px; }
  .ph-image-paragraph .ph-image {
    height: 72px;
    width: 72px;
    margin-right: 16px; }
  .ph-image-paragraph .ph-line {
    height: 16px; }
  .ph-image-paragraph .ph-line:nth-of-type(1),
  .ph-image-paragraph .ph-line:nth-of-type(2),
  .ph-image-paragraph .ph-line:nth-of-type(3) {
    margin-left: 88px; }
  .ph-image-paragraph .ph-line:nth-of-type(1) {
    width: calc(96% - 88px); }
  .ph-image-paragraph .ph-line:nth-of-type(2) {
    width: calc(82% - 88px); }
  .ph-image-paragraph .ph-line:nth-of-type(3) {
    width: calc(80% - 88px); }
  .ph-image-paragraph .ph-lines {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }

.shadow-sm {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25); }

.shadow-md {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); }

.shadow-lg {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25); }

.shadow-down {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); }

.shadow-up {
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25); }

.shadow-left {
  box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.25); }

.shadow-right {
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25); }

.alert {
  text-align: center;
  padding: 16px;
  margin: 16px;
  border-radius: 5px; }

.alert-light {
  border: 1px solid #BCBCBC;
  color: #666666; }

.alert-dark {
  background-color: #f5f5f5;
  border: 1px solid #949494;
  color: #282828; }

.alert-blue {
  background-color: #EFF8FF;
  border: 1px solid #3A80C7;
  color: #223C54; }

.alert-green {
  background-color: #E7FFFE;
  border: 1px solid #40ADA3;
  color: #134343; }

.alert-orange {
  background-color: #fffcf4;
  border: 1px solid #F1CB66;
  color: #5B4915; }

.alert-red {
  background-color: #FCE8E8;
  border: 1px solid #DA3B34;
  color: #5F1B18; }

.spinner {
  width: 8px;
  height: 8px;
  margin: 24px auto;
  opacity: 0.5;
  border-radius: 50%;
  box-shadow: 0 -14px 0 rgba(0, 0, 0, 0.8), 10px -10px 0 rgba(0, 0, 0, 0.7), 14px 0px 1px rgba(0, 0, 0, 0.6), 10px 10px 1px rgba(0, 0, 0, 0.5), 0px 14px 2px rgba(0, 0, 0, 0.4), -10px 10px 2px rgba(0, 0, 0, 0.3), -14px 0px 3px rgba(0, 0, 0, 0.2), -10px -10px 3px rgba(0, 0, 0, 0.1);
  transform-origin: 50%;
  animation: spin 0.5s steps(8) infinite; }

@keyframes spin {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.dots {
  display: flex; }

.dot {
  height: 5px;
  width: 5px;
  background-color: black;
  border-radius: 50%;
  margin: 2px; }

.dot--1 {
  animation: jump 0.8s infinite; }

.dot--2 {
  animation: jump 0.8s infinite 0.1s; }

.dot--3 {
  animation: jump 0.8s infinite 0.2s; }

@keyframes jump {
  0% {
    transform: translateY(0); }
  30% {
    transform: translateY(-150%); }
  60% {
    transform: translateY(0); } }

html {
  scroll-behavior: smooth; }

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;
  padding-top: 48px; }

.content__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 32px;
  margin-bottom: 16px;
  color: #282828; }

.content__title {
  font-weight: 400;
  font-size: 30px;
  margin: 0; }

.content__title--main {
  font-size: 48px; }

.content__info {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: center; }

.content__info--main {
  font-size: 24px; }

.section {
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.subheader {
  font-weight: 400;
  font-size: 24px;
  color: #282828;
  text-align: center; }

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 800px;
  max-width: 90vw; }
  @media (max-width: 768px) {
    .buttons {
      flex-direction: column; } }
  .buttons .btn {
    margin-top: 12px; }

.container__contents {
  height: 40vh;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center; }

.container__header {
  font-weight: 300;
  text-align: center; }

.headers {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80vw; }
  @media (max-width: 768px) {
    .headers {
      flex-direction: column; } }

.headers__left,
.headers__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .headers__left h4,
  .headers__right h4 {
    text-align: center;
    margin: 8px; }

@media (max-width: 768px) {
  .headers__right {
    margin-top: 32px; } }

.hero {
  background: linear-gradient(to bottom, #71D5D3, #40ADA3);
  z-index: 2;
  position: relative;
  padding: 96px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.hero__header {
  color: white;
  font-family: Open Sans;
  font-size: 60px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center; }
  @media (max-width: 460px) {
    .hero__header {
      font-size: 36px; } }

.hero__subheader {
  color: white;
  font-family: Roboto;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin: 0; }
  @media (max-width: 460px) {
    .hero__subheader {
      font-size: 20px; } }

.hero__button {
  background: linear-gradient(to bottom, #71D5D3, #40ADA3);
  border: 2px solid white;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 24px;
  color: white;
  border-radius: 5px;
  margin-top: 32px;
  padding: 8px 64px; }

.nav {
  height: 70px;
  width: 100vw;
  padding: 0 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3; }
  @media (max-width: 460px) {
    .nav {
      padding: 0 16px; } }

.nav__background {
  width: 100vw;
  height: 70px;
  background: linear-gradient(to bottom, #71D5D3, #40ADA3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }

.nav__brand {
  color: white;
  font-size: 30px;
  font-weight: 400;
  font-family: Open Sans;
  text-decoration: none; }

.nav__menu {
  height: 100%;
  width: 49px;
  z-index: 1; }

.nav__bar {
  height: 3px;
  width: 100%;
  margin: 15px 0;
  background-color: white; }

.nav__bar--1,
.nav__bar--3 {
  width: 50%; }

.nav__bar--1 {
  margin-left: auto;
  transform-origin: top right;
  transition: 0.3s transform; }

.nav__bar--2 {
  transition: 0.3s transform; }

.nav__bar--3 {
  transform-origin: bottom left;
  transition: 0.3s transform; }

.nav__menu--active .nav__bar--1 {
  transform: translate(-8px, 1px) rotate(-45deg); }

.nav__menu--active .nav__bar--2 {
  transform: rotate(45deg); }

.nav__menu--active .nav__bar--3 {
  transform: translate(8px, -1px) rotate(-45deg); }

.nav__close-area {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  left: auto;
  right: 0;
  pointer-events: none;
  z-index: -1; }

.nav__drawer {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 500px;
  max-width: 90vw;
  background: linear-gradient(to right, #71D5D3, #40ADA3);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transform-origin: right;
  transform: scaleX(0);
  transition: 0.3s transform; }
  @media (max-width: 460px) {
    .nav__drawer {
      padding: 48px; } }

.nav__drawer--active {
  transform: scaleX(1); }
  .nav__drawer--active .nav__close-area {
    pointer-events: all; }
  .nav__drawer--active .nav__links {
    opacity: 1; }
  .nav__drawer--active .nav__socials {
    opacity: 1; }

.nav__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0;
  transition: 0.3s opacity;
  list-style: none; }

.nav__header {
  color: white;
  font-size: 30px;
  font-family: Open Sans;
  font-weight: 600;
  margin: 24px 0; }

.nav__link {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 300;
  margin-bottom: 8px; }

.image-container {
  height: 300px;
  width: 300px; }

.shadow-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.shadow-box {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px; }

.footer {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to bottom, #71D5D3, #40ADA3); }
  @media (max-width: 460px) {
    .footer {
      flex-direction: column; } }

.footer__info,
.footer__link {
  color: white; }

.code-box {
  height: 0;
  transition: 0.3s height;
  margin: 12px;
  max-width: 90vw; }

.code {
  background: #282828;
  padding: 12px 24px;
  color: #E8E8E8;
  border-radius: 5px;
  border: 1px solid #BCBCBC;
  display: block;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s transform; }

.src-alert-light:hover + .code-box {
  height: 40px; }
  .src-alert-light:hover + .code-box .code-alert-light {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-alert-light {
    transform: scaleY(1); }

.src-alert-light:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-alert-light:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-alert-light:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-alert-light:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-alert-dark:hover + .code-box {
  height: 40px; }
  .src-alert-dark:hover + .code-box .code-alert-dark {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-alert-dark {
    transform: scaleY(1); }

.src-alert-dark:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-alert-dark:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-alert-dark:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-alert-dark:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-alert-blue:hover + .code-box {
  height: 40px; }
  .src-alert-blue:hover + .code-box .code-alert-blue {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-alert-blue {
    transform: scaleY(1); }

.src-alert-blue:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-alert-blue:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-alert-blue:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-alert-blue:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-alert-green:hover + .code-box {
  height: 40px; }
  .src-alert-green:hover + .code-box .code-alert-green {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-alert-green {
    transform: scaleY(1); }

.src-alert-green:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-alert-green:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-alert-green:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-alert-green:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-alert-orange:hover + .code-box {
  height: 40px; }
  .src-alert-orange:hover + .code-box .code-alert-orange {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-alert-orange {
    transform: scaleY(1); }

.src-alert-orange:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-alert-orange:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-alert-orange:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-alert-orange:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-alert-red:hover + .code-box {
  height: 40px; }
  .src-alert-red:hover + .code-box .code-alert-red {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-alert-red {
    transform: scaleY(1); }

.src-alert-red:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-alert-red:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-alert-red:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-alert-red:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-btn-xs:hover + .code-box {
  height: 40px; }
  .src-btn-xs:hover + .code-box .code-btn-xs {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-btn-xs {
    transform: scaleY(1); }

.src-btn-xs:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-btn-xs:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-btn-xs:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-btn-xs:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-btn-sm:hover + .code-box {
  height: 40px; }
  .src-btn-sm:hover + .code-box .code-btn-sm {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-btn-sm {
    transform: scaleY(1); }

.src-btn-sm:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-btn-sm:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-btn-sm:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-btn-sm:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-btn-md:hover + .code-box {
  height: 40px; }
  .src-btn-md:hover + .code-box .code-btn-md {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-btn-md {
    transform: scaleY(1); }

.src-btn-md:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-btn-md:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-btn-md:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-btn-md:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-btn-lg:hover + .code-box {
  height: 40px; }
  .src-btn-lg:hover + .code-box .code-btn-lg {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-btn-lg {
    transform: scaleY(1); }

.src-btn-lg:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-btn-lg:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-btn-lg:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-btn-lg:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-btn-xl:hover + .code-box {
  height: 40px; }
  .src-btn-xl:hover + .code-box .code-btn-xl {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-btn-xl {
    transform: scaleY(1); }

.src-btn-xl:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-btn-xl:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-btn-xl:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-btn-xl:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-btn-br-1:hover + .code-box {
  height: 40px; }
  .src-btn-br-1:hover + .code-box .code-btn-br-1 {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-btn-br-1 {
    transform: scaleY(1); }

.src-btn-br-1:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-btn-br-1:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-btn-br-1:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-btn-br-1:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-btn-br-2:hover + .code-box {
  height: 40px; }
  .src-btn-br-2:hover + .code-box .code-btn-br-2 {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-btn-br-2 {
    transform: scaleY(1); }

.src-btn-br-2:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-btn-br-2:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-btn-br-2:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-btn-br-2:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-btn-br-3:hover + .code-box {
  height: 40px; }
  .src-btn-br-3:hover + .code-box .code-btn-br-3 {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-btn-br-3 {
    transform: scaleY(1); }

.src-btn-br-3:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-btn-br-3:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-btn-br-3:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-btn-br-3:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-btn-br-4:hover + .code-box {
  height: 40px; }
  .src-btn-br-4:hover + .code-box .code-btn-br-4 {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-btn-br-4 {
    transform: scaleY(1); }

.src-btn-br-4:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-btn-br-4:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-btn-br-4:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-btn-br-4:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-btn-br-5:hover + .code-box {
  height: 40px; }
  .src-btn-br-5:hover + .code-box .code-btn-br-5 {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-btn-br-5 {
    transform: scaleY(1); }

.src-btn-br-5:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-btn-br-5:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-btn-br-5:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-btn-br-5:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-btn-solid:hover + .code-box {
  height: 40px; }
  .src-btn-solid:hover + .code-box .code-btn-solid {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-btn-solid {
    transform: scaleY(1); }

.src-btn-solid:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-btn-solid:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-btn-solid:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-btn-solid:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-btn-outline:hover + .code-box {
  height: 40px; }
  .src-btn-outline:hover + .code-box .code-btn-outline {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-btn-outline {
    transform: scaleY(1); }

.src-btn-outline:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-btn-outline:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-btn-outline:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-btn-outline:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-btn-ani-opp:hover + .code-box {
  height: 40px; }
  .src-btn-ani-opp:hover + .code-box .code-btn-ani-opp {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-btn-ani-opp {
    transform: scaleY(1); }

.src-btn-ani-opp:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-btn-ani-opp:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-btn-ani-opp:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-btn-ani-opp:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-btn-ani-raise:hover + .code-box {
  height: 40px; }
  .src-btn-ani-raise:hover + .code-box .code-btn-ani-raise {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-btn-ani-raise {
    transform: scaleY(1); }

.src-btn-ani-raise:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-btn-ani-raise:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-btn-ani-raise:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-btn-ani-raise:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-btn-ani-switch:hover + .code-box {
  height: 40px; }
  .src-btn-ani-switch:hover + .code-box .code-btn-ani-switch {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-btn-ani-switch {
    transform: scaleY(1); }

.src-btn-ani-switch:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-btn-ani-switch:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-btn-ani-switch:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-btn-ani-switch:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-container:hover + .code-box {
  height: 40px; }
  .src-container:hover + .code-box .code-container {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-container {
    transform: scaleY(1); }

.src-container:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-container:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-container:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-container:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-header-light-1:hover + .code-box {
  height: 40px; }
  .src-header-light-1:hover + .code-box .code-header-light-1 {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-header-light-1 {
    transform: scaleY(1); }

.src-header-light-1:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-header-light-1:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-header-light-1:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-header-light-1:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-header-light-2:hover + .code-box {
  height: 40px; }
  .src-header-light-2:hover + .code-box .code-header-light-2 {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-header-light-2 {
    transform: scaleY(1); }

.src-header-light-2:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-header-light-2:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-header-light-2:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-header-light-2:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-header-light-3:hover + .code-box {
  height: 40px; }
  .src-header-light-3:hover + .code-box .code-header-light-3 {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-header-light-3 {
    transform: scaleY(1); }

.src-header-light-3:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-header-light-3:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-header-light-3:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-header-light-3:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-header-light-4:hover + .code-box {
  height: 40px; }
  .src-header-light-4:hover + .code-box .code-header-light-4 {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-header-light-4 {
    transform: scaleY(1); }

.src-header-light-4:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-header-light-4:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-header-light-4:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-header-light-4:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-header-light-5:hover + .code-box {
  height: 40px; }
  .src-header-light-5:hover + .code-box .code-header-light-5 {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-header-light-5 {
    transform: scaleY(1); }

.src-header-light-5:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-header-light-5:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-header-light-5:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-header-light-5:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-header-dark-1:hover + .code-box {
  height: 40px; }
  .src-header-dark-1:hover + .code-box .code-header-dark-1 {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-header-dark-1 {
    transform: scaleY(1); }

.src-header-dark-1:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-header-dark-1:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-header-dark-1:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-header-dark-1:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-header-dark-2:hover + .code-box {
  height: 40px; }
  .src-header-dark-2:hover + .code-box .code-header-dark-2 {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-header-dark-2 {
    transform: scaleY(1); }

.src-header-dark-2:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-header-dark-2:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-header-dark-2:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-header-dark-2:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-header-dark-3:hover + .code-box {
  height: 40px; }
  .src-header-dark-3:hover + .code-box .code-header-dark-3 {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-header-dark-3 {
    transform: scaleY(1); }

.src-header-dark-3:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-header-dark-3:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-header-dark-3:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-header-dark-3:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-header-dark-4:hover + .code-box {
  height: 40px; }
  .src-header-dark-4:hover + .code-box .code-header-dark-4 {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-header-dark-4 {
    transform: scaleY(1); }

.src-header-dark-4:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-header-dark-4:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-header-dark-4:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-header-dark-4:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-header-dark-5:hover + .code-box {
  height: 40px; }
  .src-header-dark-5:hover + .code-box .code-header-dark-5 {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-header-dark-5 {
    transform: scaleY(1); }

.src-header-dark-5:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-header-dark-5:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-header-dark-5:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-header-dark-5:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-spinner:hover + .code-box {
  height: 40px; }
  .src-spinner:hover + .code-box .code-spinner {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-spinner {
    transform: scaleY(1); }

.src-spinner:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-spinner:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-spinner:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-spinner:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-dots:hover + .code-box {
  height: 40px; }
  .src-dots:hover + .code-box .code-dots {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-dots {
    transform: scaleY(1); }

.src-dots:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-dots:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-dots:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-dots:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-placeholder--1:hover + .code-box {
  height: 40px; }
  .src-placeholder--1:hover + .code-box .code-placeholder--1 {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-placeholder--1 {
    transform: scaleY(1); }

.src-placeholder--1:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-placeholder--1:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-placeholder--1:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-placeholder--1:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-placeholder--2:hover + .code-box {
  height: 40px; }
  .src-placeholder--2:hover + .code-box .code-placeholder--2 {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-placeholder--2 {
    transform: scaleY(1); }

.src-placeholder--2:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-placeholder--2:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-placeholder--2:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-placeholder--2:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-placeholder--3:hover + .code-box {
  height: 40px; }
  .src-placeholder--3:hover + .code-box .code-placeholder--3 {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-placeholder--3 {
    transform: scaleY(1); }

.src-placeholder--3:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-placeholder--3:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-placeholder--3:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-placeholder--3:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-placeholder--4:hover + .code-box {
  height: 40px; }
  .src-placeholder--4:hover + .code-box .code-placeholder--4 {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-placeholder--4 {
    transform: scaleY(1); }

.src-placeholder--4:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-placeholder--4:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-placeholder--4:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-placeholder--4:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-shadow-sm:hover + .code-box {
  height: 40px; }
  .src-shadow-sm:hover + .code-box .code-shadow-sm {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-shadow-sm {
    transform: scaleY(1); }

.src-shadow-sm:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-shadow-sm:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-shadow-sm:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-shadow-sm:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-shadow-md:hover + .code-box {
  height: 40px; }
  .src-shadow-md:hover + .code-box .code-shadow-md {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-shadow-md {
    transform: scaleY(1); }

.src-shadow-md:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-shadow-md:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-shadow-md:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-shadow-md:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-shadow-lg:hover + .code-box {
  height: 40px; }
  .src-shadow-lg:hover + .code-box .code-shadow-lg {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-shadow-lg {
    transform: scaleY(1); }

.src-shadow-lg:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-shadow-lg:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-shadow-lg:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-shadow-lg:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-shadow-down:hover + .code-box {
  height: 40px; }
  .src-shadow-down:hover + .code-box .code-shadow-down {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-shadow-down {
    transform: scaleY(1); }

.src-shadow-down:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-shadow-down:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-shadow-down:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-shadow-down:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-shadow-up:hover + .code-box {
  height: 40px; }
  .src-shadow-up:hover + .code-box .code-shadow-up {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-shadow-up {
    transform: scaleY(1); }

.src-shadow-up:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-shadow-up:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-shadow-up:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-shadow-up:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-shadow-left:hover + .code-box {
  height: 40px; }
  .src-shadow-left:hover + .code-box .code-shadow-left {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-shadow-left {
    transform: scaleY(1); }

.src-shadow-left:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-shadow-left:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-shadow-left:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-shadow-left:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.src-shadow-right:hover + .code-box {
  height: 40px; }
  .src-shadow-right:hover + .code-box .code-shadow-right {
    transform: scaleY(1); }

.code-box:hover {
  height: 40px; }
  .code-box:hover .code-shadow-right {
    transform: scaleY(1); }

.src-shadow-right:hover + .code-box--md {
  height: 80px; }

.code-box--md:hover {
  height: 80px; }

.src-shadow-right:hover + .code-box--lg {
  height: 120px; }

.code-box--lg:hover {
  height: 120px; }

.src-shadow-right:hover + .code-box--xl {
  height: 160px; }

.code-box--xl:hover {
  height: 160px; }

.src-shadow-right:hover + .code-box--xxl {
  height: 200px; }

.code-box--xxl:hover {
  height: 200px; }

.note {
  position: fixed;
  bottom: 24px;
  left: 24px;
  height: 96px;
  width: 384px;
  background: #282828;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E8E8E8;
  max-width: 90vw;
  padding: 12px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #BCBCBC;
  transform: translateX(-120%);
  transition: transform 0.2s;
  animation: 10s slideinout 5s; }

@keyframes slideinout {
  0% {
    transform: translateX(-120%); }
  5% {
    transform: translateX(0); }
  95% {
    transform: translateX(0); }
  100% {
    transform: translateX(-120%); } }
