.footer
  height: 120px
  width: 100%
  display: flex
  align-items: center
  justify-content: space-evenly
  background: linear-gradient(to bottom, $color-blue-3, $color-blue-2)
  +media($breakpoint-sm)
    flex-direction: column

.footer__info,
.footer__link
  color: white