@import ../../config/colors
  
// General
  
.content
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start

.content__header
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  margin-top: 32px
  margin-bottom: 16px
  color: $color-neutral-0

.content__title
  font-weight: 700
  font-size: 32px

.content__info
  font-family: 'Roboto', Arial, Helvetica, sans-serif
  font-weight: 300
  font-size: 18px

.section
  margin: 16px auto

.subheader
  font-weight: 600
  font-size: 24px
  color: $color-neutral-0
  text-align: center

// Button

.buttons
  display: flex
  align-items: center
  justify-content: space-evenly
  width: 800px
  max-width: 90vw

// Container

.container__contents
  height: 40vh
  width: 100%
  background-color: $color-neutral-6
  display: flex
  align-items: center
  justify-content: center

.container__header
  font-weight: 300
  text-align: center

// Headers

.headers
  display: flex
  align-items: center
  justify-content: space-evenly
  width: 80vw

.headers__left,
.headers__right
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  h4
    text-align: center
    margin: $spacing-1