.note
  position: fixed
  bottom: $spacing-4
  left: $spacing-4
  max-width: 90vw
  text-align: center
  transform: translateX(-120%)
  transition: transform 0.2s
  animation: 10s slideinout 5s

@keyframes slideinout
  0%
    transform: translateX(-120%)
  5%
    transform: translateX(0)
  95%
    transform: translateX(0)
  100%
    transform: translateX(-120%)